.father {
  display: flex;
  justify-content: space-around;
  height: 80vh;
}

.child {
  width: 200px;
  height: 200px;
  background: peru;
  color: white;
}

.child:nth-child(1) {
  order: 1;
}
.child:nth-child(2) {
  align-self: center;
  order: 3;
}

.child:nth-child(3) {
  align-self: flex-end;
  order: 2;
}
